.login-password {
  background-color: #040307;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-password .div-7 {
  background-color: #040307;
  height: 1000px;
  position: relative;
  width: 1440px;
}

.login-password .frame-64 {
  background-color: #040307;
  border-radius: 24px;
  height: 736px;
  left: 100px;
  overflow: hidden;
  position: absolute;
  top: 132px;
  width: 596px;
}

.login-password .overlap-6 {
  background-image: url(../../../static/img/12-1.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 736px;
  position: relative;
}

.login-password .frame-65 {
  background-color: #ffffff29;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 16px;
  height: 80px;
  left: 60px;
  overflow: hidden;
  position: absolute;
  top: 140px;
  width: 476px;
}

.login-password .text-wrapper-44 {
  color: #ffffff;
  font-family: "Sora", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 69px;
  letter-spacing: 0;
  line-height: 19.6px;
  position: absolute;
  top: 19px;
  width: 372px;
}

.login-password .group-7 {
  height: 22px;
  left: 24px;
  position: absolute;
  top: 26px;
  width: 26px;
}

.login-password .overlap-group-8 {
  height: 22px;
  position: relative;
}

.login-password .star-13 {
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  width: 19px;
}

.login-password .star-14 {
  height: 10px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 10px;
}

.login-password .star-15 {
  height: 7px;
  left: 12px;
  position: absolute;
  top: 15px;
  width: 7px;
}

.login-password .instagram-post-5 {
  height: 410px;
  left: 60px;
  position: absolute;
  top: 326px;
  width: 420px;
}

.login-password .frame-66 {
  align-items: center;
  background-color: #ffffff29;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)) 1;
  border-radius: 16px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 55px;
  overflow: hidden;
  padding: 12px 20px;
  position: absolute;
  top: 244px;
}

.login-password .text-wrapper-45 {
  color: #ffffff;
  font-family: "Sora", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 16.8px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.login-password .text-wrapper-46 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(78, 191.28, 255) 0%, rgb(2, 54.8, 242) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Sora", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 1015px;
  letter-spacing: -0.96px;
  line-height: 35.2px;
  position: absolute;
  text-align: center;
  text-fill-color: transparent;
  top: 131px;
  white-space: nowrap;
}

.login-password .great-we-ve-sent-a {
  color: #e9e9ec;
  font-family: "Sora", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 876px;
  letter-spacing: 0;
  line-height: 33.6px;
  position: absolute;
  text-align: center;
  top: 431px;
}

.login-password .span {
  color: #e9e9ec;
  font-family: "Sora", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.6px;
}

.login-password .text-wrapper-47 {
  font-family: "Sora-Bold", Helvetica;
  font-weight: 700;
}
