.credit {
  background-color: #040307;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.credit .div-2 {
  background-color: #040307;
  height: 1000px;
  position: relative;
  width: 1440px;
}

.credit .cross {
  height: 48px;
  left: 1292px;
  position: absolute;
  top: 100px;
  width: 48px;
}

.credit .frame-12 {
  align-items: center;
  display: inline-flex;
  gap: 20px;
  left: 100px;
  position: absolute;
  top: 100px;
}

.credit .text-wrapper-10 {
  color: #e9e9ec;
  font-family: "Sora", Helvetica;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.credit .frame-13 {
  align-items: center;
  border: 1px solid;
  border-color: #e9e9ec33;
  border-radius: 86px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 10px 16px;
  position: relative;
}

.credit .coin-2 {
  height: 16px;
  position: relative;
  width: 16px;
}

.credit .text-wrapper-11 {
  color: #e9e9ec;
  font-family: "Sora", Helvetica;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.credit .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  left: 100px;
  position: absolute;
  top: 240px;
}

.credit .frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.credit .frame-16 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.credit .text-wrapper-12 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(78, 191.28, 255) 0%, rgb(2, 54.8, 242) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Sora-Bold", Helvetica;
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 78.4px;
  margin-top: -1px;
  position: relative;
  text-fill-color: transparent;
  white-space: nowrap;
  width: fit-content;
}

.credit .frame-17 {
  align-items: center;
  border: 1px solid;
  border-color: #e9e9ec33;
  border-radius: 106px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 4px 16px;
  position: relative;
}

.credit .text-wrapper-13 {
  color: #e9e9ec;
  font-family: "Sora", Helvetica;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33.6px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.credit .text-wrapper-14 {
  color: #e9e9ec;
  font-family: "Sora", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 33.6px;
  position: relative;
  width: 955px;
}

.credit .frame-18 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 35px;
  position: relative;
}

.credit .frame-19 {
  align-items: center;
  border: 1px solid;
  border-color: #e9e9ec33;
  border-radius: 8px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 16px;
  position: relative;
}

.credit .text-wrapper-15 {
  color: #e9e9ec99;
  font-family: "Sora", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22.4px;
  margin-top: -1px;
  position: relative;
  width: 332px;
}

.credit .frame-20 {
  background: linear-gradient(180deg, rgb(78, 191.28, 255) 0%, rgb(2, 54.8, 242) 100%);
  border-radius: 74px;
  height: 73px;
  overflow: hidden;
  position: relative;
  width: 364px;
}

.credit .text-wrapper-16 {
  color: #e9e9ec;
  font-family: "Sora", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 144px;
  letter-spacing: -0.2px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
}
